@page "/Register"

@using System.ComponentModel.DataAnnotations
@inject Microsoft.Extensions.Localization.IStringLocalizer<Register> _localizer

<EditForm Model="@_registerRequest" OnValidSubmit="OnValidSubmit">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudCard>
            <MudCardContent>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h4">@_localizer["Register Screen"]</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText>@_localizer["Register To The System"]</MudText>
                    </div>
                </MudItem>
                <div class="d-flex justify-center">
                    <MudTextField Class="xs-12" Label=@_localizer["First name"] HelperText="Max. 8 characters"
                              @bind-Value="_registerRequest.FirstName" For="@(() => _registerRequest.FirstName)"/>
                </div>
                <div class="d-flex justify-center">
                    <MudTextField Class="xs-12" Label=@_localizer["Last name"] HelperText=@_localizer["Max. 8 characters"]
                              @bind-Value="_registerRequest.LastName" For="@(() => _registerRequest.LastName)"/>
                </div>
                <div class="d-flex justify-center">
                    <MudTextField Class="xs-12" Label="UserName" HelperText=@_localizer["Max. 8 characters"]
                              @bind-Value="_registerRequest.UserName" For="@(() => _registerRequest.UserName)"/>
                </div>
                <div class="d-flex justify-center">
                    <MudTextField Class="xs-12 mt-3" Label=@_localizer["Email"]
                              @bind-Value="_registerRequest.Email" For="@(() => _registerRequest.Email)"/>
                </div>
                <div class="d-flex justify-center">
                    <MudTextField Class="xs-12 mt-3" Label=@_localizer["Password"] HelperText=@_localizer["Choose a strong password"]
                              @bind-Value="_registerRequest.Password" For="@(() => _registerRequest.Password)" InputType="InputType.Password"/>
                </div>
                <div class="d-flex justify-center">
                    <MudTextField Class="xs-12" Label=@_localizer["Password"] HelperText=@_localizer["Repeat the password"]
                              @bind-Value="_registerRequest.ConfirmPassword" For="@(() => _registerRequest.ConfirmPassword)" InputType="InputType.Password"/>
                </div>
                <div class="d-flex justify-center">
                    <MudTextField Class="xs-12 mt-3" Label=@_localizer["PhoneNumber"] HelperText=@_localizer["Enter your phone number"]
                              @bind-Value="_registerRequest.PhoneNumber" For="@(() => _registerRequest.PhoneNumber)" InputType="InputType.Telephone"/>
                </div>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>   
    <MudItem xs="12">
        <MudText Typo="Typo.body2" Align="Align.Center">
            *Passwords must have at least one lowercase ('a'-'z').<br />
            *Passwords must have at least one Uppercase ('A'-'Z').<br />
            *Passwords must have at least one non alphanumeric character('!#$%&*').<br />
            *Passwords must have digits('0'-'9').
        </MudText>
    </MudItem>
</MudGrid>
</EditForm>
